@media (max-width: $mq-tablet) {

    nav {
        .navbar {
            max-width: 100%;
            padding: 0 25px;

            .logo a {
                font-size: 26px;
            }

            .nav-links .links li {
                padding: 0 10px;

                a {
                    font-size: 15px;
                }
            }

            .nav-links.show1 .links .sub-menu.htmlCss-sub-menu {
                display: block;
            }

            .nav-links.show2 .links .more .more-sub-menu {
                display: block;
            }
            .nav-links.show2 .links .sub-menu .more-arrow {
                transform: rotate(90deg);

            }

            .nav-links.show3 .links .sub-menu.js-sub-menu {
                display: block;
            }
            .nav-links.show1 .links li .htmlCss-arrow {
                transform: rotate(180deg);
            }
            .nav-links.show3 .links li .js-arrow {
                transform: rotate(180deg);
            }

        }
    }
}

@media (max-width: $mq-tablet-low) {

    nav .navbar .bx-menu {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        display: block;
    }

    nav .navbar .nav-links {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        max-width: 270px;
        width: 100%;
        background: $bg-color;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;

        .sidebar-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo_name {
                @extend #{'nav .navbar .bx-menu'};
            }

            .bx-x {
                @extend #{'nav .navbar .bx-menu'};
            }
        }

        .links {
            display: none;
            margin-top: 20px;

            li {
                display: block;
                border-bottom: none;

                &:hover .htmlCss-sub-menu {
                    display: none;
                }

                &:hover .js-sub-menu {
                    display: none;
                }

                &:hover .htmlCss-arrow {
                    transform: rotate(0deg);
                }

                &:hover .js-arrow {
                    transform: rotate(0deg);
                }

                .arrow {
                    line-height: 40px;
                }
            }

            .sub-menu {
                display: none;
                position: relative;
                top: 0;
                left: 0;
                box-shadow: none;

                li {
                    border-bottom: none;
                }
            }
        }
    }
}

@media (max-width: $mq-phone) {
    nav .navbar .nav-links {
        max-width: 100%
    }
}